@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: black;
    font-family: raleway;
}

.descripcion{
    display: flex;
    padding: 2rem;
    gap: 13rem;
    color: #ffff;
    
}

.descripcion > div > img{
    width: 100%;
    height: 100%;
    padding-left: 15rem;
    padding-top: 2rem;
    
}

.descripcion2{
    padding-right: 15rem;
    
}

.titulo{
    color: #ffff;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.educacion{
    color: #ffff;
    text-align: center;
    background-color: #232829;
    padding-bottom: 2rem;
    padding-top: 2rem;
}


.experiencia{
    color: #ffff;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.portafolio{
    color: #ffff;
    text-align: center;
}

.footer{
    color: #ffff;
    text-align: center;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: normal;
    gap: 4rem;
}
